
### VS Code ###
*.jar
teste-microservice/.vscode
teste-microservice/postgres-data
teste-microservice/api-autenticacao/target
teste-microservice/api-autenticacao/.mvn/wrapper/maven-wrapper.jar
teste-microservice/api-autenticacao/database-doker

teste-microservice/api-entidades/target
teste-microservice/api-entidades/.mvn/wrapper/maven-wrapper.jar

teste-microservice/api-gateway/target
teste-microservice/api-gateway/.mvn/wrapper/maven-wrapper.jar

teste-microservice/registro/target
teste-microservice/registro/.mvn/wrapper/maven-wrapper.jar
=======
# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# Log files
jxl.log
jmx.log
derby.log

# Gradle artifacts
.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/

# Maven artifacts
/target/

# Eclipse artifacts, including WTP generated manifests
bin
.classpath
.project
.settings
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml

# VS Code
.vscode/

cached-antora-playbook.yml
