### VS Code ###
*.jar
teste-microservice/.vscode
teste-microservice/postgres-data
teste-microservice/api-autenticacao/target
teste-microservice/api-autenticacao/.mvn/wrapper/maven-wrapper.jar
teste-microservice/api-autenticacao/database-doker

teste-microservice/api-entidades/target
teste-microservice/api-entidades/.mvn/wrapper/maven-wrapper.jar

teste-microservice/api-gateway/target
teste-microservice/api-gateway/.mvn/wrapper/maven-wrapper.jar

teste-microservice/registro/target
teste-microservice/registro/.mvn/wrapper/maven-wrapper.jar